/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Positioning */
/* ==========================================================================
   Utilities.
   ========================================================================== */
/* line 5, ../sass/utilities/_utilities.scss */
.text_align {
  text-align: left;
}

/* line 9, ../sass/utilities/_utilities.scss */
.text_right {
  text-align: right;
}

/* line 13, ../sass/utilities/_utilities.scss */
.text_center {
  text-align: center;
}

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* ==========================================================================
   Base styles.
   ========================================================================== */
/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
/* Layout */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* mean layout navigation*/
/* ==========================================================================
   Header styles
   ========================================================================== */
/* mean layout header */
/* ==========================================================================
   Main styles
   ========================================================================== */
/* mean layout main */
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/* mean: layout-footer */
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/* ==========================================================================
   Dividers styles.
   ========================================================================== */
/* line 5, ../sass/modules/_dividers.scss */
hr {
  display: block;
  height: 1px;
  margin: 48px 0;
  background: none;
  background-color: green;
}

/* ==========================================================================
   Form styles.
   ========================================================================== */
/* ==========================================================================
   Table styles.
   ========================================================================== */
/* ==========================================================================
   Other styles.
   ========================================================================== */
/* Theme */
/* ==========================================================================
   Theme styles.
   ========================================================================== */
