/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Positioning */
/* ==========================================================================
   Utilities.
   ========================================================================== */
.text_align {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* ==========================================================================
   Base styles.
   ========================================================================== */
/*
* END Base styles.
*
*/
/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
/* Layout */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* 
* END Navigation styles.
*
*/
/* ==========================================================================
   Header styles.
   ========================================================================== */
/*
* END Header styles.
*
*/
/* ==========================================================================
   Main styles
   ========================================================================== */
/*
* END Main styles.
*
*/
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/*
* END Footer styles.
*
*/
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/* ==========================================================================
   Dividers styles.
   ========================================================================== */
hr {
  display: block;
  height: 1px;
  margin: 48px 0;
  background: none;
  background-color: green;
}

/* ==========================================================================
   Form styles.
   ========================================================================== */
/* ==========================================================================
   Table styles.
   ========================================================================== */
/* ==========================================================================
   Other styles.
   ========================================================================== */
/* Theme */
/* ==========================================================================
   Theme styles.
   ========================================================================== */
