/* Compass */
/* Utilities */
/* ==========================================================================
   Site settings.
   ========================================================================== */
/* Typograthy */
/* Colors */
/* Positioning */
/* ==========================================================================
   Utilities.
   ========================================================================== */
.text_align {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_center {
  text-align: center;
}

/* Bootstrap or another */
/* I Used Susy */
/* Base */
/* ==========================================================================
   Base styles.
   ========================================================================== */
/*
* END Base styles.
*
*/
/* ==========================================================================
   Ie8 styles.
   ========================================================================== */
/* Fonts */
/* Layout */
/* ==========================================================================
   Navigation styles.
   ========================================================================== */
/* 
* END Navigation styles.
*
*/
/* ==========================================================================
   Header styles.
   ========================================================================== */
/*
* END Header styles.
*
*/
/* ==========================================================================
   Main styles
   ========================================================================== */
/*
* END Main styles.
*
*/
/* ==========================================================================
   Footer styles.
   ========================================================================== */
/*
* END Footer styles.
*
*/
/* Modules */
/* ==========================================================================
   Button styles
   ========================================================================== */
/*
* END Button styles.
*
*/
/* ==========================================================================
   Dividers styles.
   ========================================================================== */
/*
* END Dividers styles.
*
*/
/* ==========================================================================
   Form styles.
   ========================================================================== */
/*
* END Form styles.
*
*/
/* ==========================================================================
   Table styles.
   ========================================================================== */
/*
* END Table styles.
*
*/
/* ==========================================================================
   Other styles.
   ========================================================================== */
/*
* END Other styles.
*
*/
/* Theme */
/* ==========================================================================
   Theme styles.
   ========================================================================== */
/*
* END Theme styles.
*
*/
