/* ==========================================================================
   Utilities.
   ========================================================================== */

.text_align {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

//.align_left {
//    @include float-left;
//}

//.align_right {
//    @include float-right;
//}

//.clearfix {
//    @include clearfix;
//}